[Desktop Entry]
Encoding=UTF-8
Name=Link to akshendra/octupi-conky: Octupi Conky Config
Type=Link
URL=https://github.com/akshendra/octupi-conky
Icon=text-html
