#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Exec=conky
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=start-conky
Comment[en_US]=
X-GNOME-Autostart-Delay=0
