[Desktop Entry]
Encoding=UTF-8
Name=Link to Octupi Conky GNOME-Look.org
Type=Link
URL=http://gnome-look.org/content/show.php/Octupi+Conky?content=166986
Icon=text-html
