[Desktop Entry]
Encoding=UTF-8
Name=Link to Search results for Battery - Flaticon
Type=Link
URL=http://www.flaticon.com/search/battery
Icon=text-html
